# Entorno virtual de Python
.venv/
venv/
env/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Configuración de editores
.vscode/
.idea/

# Archivos temporales
*.log
*.tmp

# Builds y empaquetado
build/
dist/
release/
*.AppImage
*.spec

# Pytest
.pytest_cache/

# Sistema
.DS_Store
Thumbs.db

# Herramientas descargadas para empaquetado
tools/appimagetool-x86_64.AppImage

# Herramientas externas descargadas durante el build
assets/bin/yt-dlp

# Binarios externos descargados durante el build
assets/bin/yt-dlp
assets/bin/ffmpeg
assets/bin/ffprobe